In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV

In [4]:
data=pd.read_excel('samples.xlsx')
data.head(10)

,Unnamed: 0,Mx,My,Mz,Fx,Fy,Fz,EQV1,EQV2,EQV3,...,EQV71,EQV72,EQV73,EQV74,EQV75,EQV76,EQV77,EQV78,EQV79,EQV80
0,1,-1675.390300,-1998.665230,5510.791597,788.500145,-349.840323,-749.484857,105.7,103.6,105.5,...,74.1,75.7,77.2,84.3,79.9,105.6,102.4,97.7,96.1,96.4
1,2,-2322.437772,-1103.348602,-3821.900279,-292.980661,-120.324884,-1492.282784,27.8,16.1,25.2,...,120.8,120.3,114.9,108.7,110.7,81.0,84.8,83.3,94.2,88.5
2,3,-2277.678753,3769.912655,6009.484578,449.820701,465.993458,-1133.022195,23.8,23.3,24.3,...,18.3,19.0,19.3,22.0,20.3,75.2,73.2,71.4,69.3,69.8
3,4,-2646.178051,-5351.089136,-2996.122766,-418.147969,-52.267144,-1008.130834,57.5,43.1,54.1,...,152.8,152.5,146.9,141.4,142.7,94.4,98.6,95.6,108.7,102.1
4,5,-2454.031157,4307.910081,-2168.362690,696.520361,269.906665,-1074.581064,54.0,58.3,53.8,...,8.3,8.3,4.2,2.3,1.6,52.1,53.0,55.5,58.0,56.2
5,6,-2995.318770,-5690.739105,-9177.894444,815.822618,-162.944439,-828.631701,14.1,27.6,15.7,...,143.7,143.3,133.9,121.0,126.4,80.5,86.7,86.1,102.9,94.6
6,7,-1867.725126,-7235.418512,-844.162605,304.810257,451.462542,-782.911912,77.5,62.5,73.8,...,163.5,163.3,158.4,154.0,154.7,100.8,104.9,101.1,114.7,107.6
7,8,-2680.874493,4539.433063,2385.659992,61.402186,-258.655930,-1363.835192,16.5,15.4,17.5,...,20.7,21.5,20.9,22.5,21.3,73.1,71.6,70.6,69.0,69.4
8,9,-3213.945966,8710.274788,-2575.485749,-29.841436,162.578704,-1261.087356,100.9,101.8,100.3,...,33.6,34.9,38.5,45.8,41.9,41.0,39.6,46.1,43.3,42.9
9,10,-1908.546418,-204.895210,8285.619217,-230.413995,-545.597041,-1574.314369,149.5,148.5,149.1,...,101.4,102.9,106.0,117.0,110.1,120.6,116.3,109.9,106.9,107.8

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 87 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  400 non-null    int64
 1   Mx          400 non-null    float64
 2   My          400 non-null    float64
 3   Mz          400 non-null    float64
 4   Fx          400 non-null    float64
 5   Fy          400 non-null    float64
 6   Fz          400 non-null    float64
 7   EQV1        400 non-null    float64
 8   EQV2        400 non-null    float64
 9   EQV3        400 non-null    float64
 10  EQV4        400 non-null    float64
 11  EQV5        400 non-null    float64
 12  EQV6        400 non-null    float64
 13  EQV7        400 non-null    float64
 14  EQV8        400 non-null    float64
 15  EQV9        400 non-null    float64
 16  EQV10       400 non-null    float64
 17  EQV11       400 non-null    float64
 18  EQV12       400 non-null    float64
 19  EQV13       400 non-null    float64
 20  EQV14       400 non-null    float64
 21  EQV15       400 non-null    float64
 22  EQV16       400 non-null    float64
 23  EQV17       400 non-null    float64
 24  EQV18       400 non-null    float64
 25  EQV19       400 non-null    float64
 26  EQV20       400 non-null    float64
 27  EQV21       400 non-null    float64
 28  EQV22       400 non-null    float64
 29  EQV23       400 non-null    float64
 30  EQV24       400 non-null    float64
 31  EQV25       400 non-null    float64
 32  EQV26       400 non-null    float64
 33  EQV27       400 non-null    float64
 34  EQV28       400 non-null    float64
 35  EQV29       400 non-null    float64
 36  EQV30       400 non-null    float64
 37  EQV31       400 non-null    float64
 38  EQV32       400 non-null    float64
 39  EQV33       400 non-null    float64
 40  EQV34       400 non-null    float64
 41  EQV35       400 non-null    float64
 42  EQV36       400 non-null    float64
 43  EQV37       400 non-null    float64
 44  EQV38       400 non-null    float64
 45  EQV39       400 non-null    float64
 46  EQV40       400 non-null    float64
 47  EQV41       400 non-null    float64
 48  EQV42       400 non-null    float64
 49  EQV43       400 non-null    float64
 50  EQV44       400 non-null    float64
 51  EQV45       400 non-null    float64
 52  EQV46       400 non-null    float64
 53  EQV47       400 non-null    float64
 54  EQV48       400 non-null    float64
 55  EQV49       400 non-null    float64
 56  EQV50       400 non-null    float64
 57  EQV51       400 non-null    float64
 58  EQV52       400 non-null    float64
 59  EQV53       400 non-null    float64
 60  EQV54       400 non-null    float64
 61  EQV55       400 non-null    float64
 62  EQV56       400 non-null    float64
 63  EQV57       400 non-null    float64
 64  EQV58       400 non-null    float64
 65  EQV59       400 non-null    float64
 66  EQV60       400 non-null    float64
 67  EQV61       400 non-null    float64
 68  EQV62       400 non-null    float64
 69  EQV63       400 non-null    float64
 70  EQV64       400 non-null    float64
 71  EQV65       400 non-null    float64
 72  EQV66       400 non-null    float64
 73  EQV67       400 non-null    float64
 74  EQV68       400 non-null    float64
 75  EQV69       400 non-null    float64
 76  EQV70       400 non-null    float64
 77  EQV71       400 non-null    float64
 78  EQV72       400 non-null    float64
 79  EQV73       400 non-null    float64
 80  EQV74       400 non-null    float64
 81  EQV75       400 non-null    float64
 82  EQV76       400 non-null    float64
 83  EQV77       400 non-null    float64
 84  EQV78       400 non-null    float64
 85  EQV79       400 non-null    float64
 86  EQV80       400 non-null    float64
dtypes: float64(86), int64(1)
memory usage: 272.0 KB

In [7]:
data.isnull().sum()

Unnamed: 0    0
Mx            0
My            0
Mz            0
Fx            0
             ..
EQV76         0
EQV77         0
EQV78         0
EQV79         0
EQV80         0
Length: 87, dtype: int64

In [9]:
data.nunique()

Unnamed: 0    400
Mx            400
My            400
Mz            400
Fx            400
             ...
EQV76         326
EQV77         320
EQV78         320
EQV79         317
EQV80         329
Length: 87, dtype: int64

In [11]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,400.0,200.500000,115.614301,1.000000,100.750000,200.500000,300.250000,400.000000
Mx,400.0,804.305565,2109.353505,-3388.792526,-1028.232844,789.391349,2624.742876,5799.856773
My,400.0,1218.004201,6294.432826,-11389.308940,-4306.958780,1347.167088,6572.539465,14293.011590
Mz,400.0,-688.634389,6249.843048,-13956.840710,-6092.354776,-700.084104,4791.173304,12712.996520
Fx,400.0,244.537034,473.089809,-663.285589,-157.838161,243.377169,635.227866,1376.995601
...,...,...,...,...,...,...,...,...
EQV76,400.0,79.945750,30.709225,40.200000,52.350000,76.000000,100.725000,164.300000
EQV77,400.0,80.132750,31.324862,37.800000,52.275000,75.950000,102.700000,158.800000
EQV78,400.0,79.030250,27.410311,43.500000,54.100000,74.050000,98.750000,149.200000
EQV79,400.0,83.016000,31.547213,41.300000,54.300000,77.400000,107.425000,155.300000
EQV80,400.0,79.882750,29.867055,39.200000,52.200000,75.150000,102.300000,149.800000

In [24]:
params = { 'max_depth': [10, 20, 30,40,50],
           'learning_rate': [0.01, 0.1, 0.2, 0.3],
           'subsample': np.arange(0.5, 1.0, 0.1),
           'colsample_bytree': np.arange(0.3, 1.0, 0.1),
           'colsample_bylevel': np.arange(0.3, 1.0, 0.1),
           'n_estimators': [100,150,200, 1000]}

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
xgb_model = xgb.XGBRegressor(seed=20)

In [28]:
clf = RandomizedSearchCV(estimator=xgb_model,
                         param_distributions=params,
                         scoring='neg_mean_squared_error',
                         n_iter=25,
                         verbose=1)
clf.fit(X, Y)
print("Best parameters:", clf.best_params_)
print("Lowest RMSE: ", (-clf.best_score_)**(1/2.0))

Fitting 5 folds for each of 25 candidates, totalling 125 fits
Best parameters: {'subsample': 0.5, 'n_estimators': 100, 'max_depth': 40, 'learning_rate': 0.2, 'colsample_bytree': 0.9000000000000001, 'colsample_bylevel': 0.8000000000000003}
Lowest RMSE:  21.890456270933548

In [29]:
y_pred = clf.predict(X_test)

In [30]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error: %.2f" % mse)

Mean Squared Error: 0.02

In [36]:
y_test = np.array(y_test).reshape(-1)
y_pred = y_pred.reshape(-1)
results = pd.DataFrame({"Actual": y_test, "Predicted": y_pred})

In [38]:
results.head(20)

    Actual   Predicted
0    209.9  209.944473
1    205.9  205.846268
2    209.9  209.844040
3    205.9  205.877457
4    207.9  208.031662
5    204.9  204.910873
6    208.6  208.549347
7    153.4  153.628723
8    152.0  151.994476
9    157.6  157.550049
10   170.7  170.615143
11   162.4  162.381546
12    50.8   50.845474
13    54.8   54.794464
14    52.1   52.092720
15    56.0   56.031307
16    57.4   57.398510
17   152.0  151.997314
18   153.4  153.388504
19   157.6  157.647186